.header {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 60px auto;
}
.header span {
    display: block;

}
.section {
    padding: 30px 0px;
}
.container, .col-lg-6 {
    /* border:  2px solid red; */
}

.form-header, .section-header {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 900;
}

.form {
    border: 5px solid #2727d5;
    padding: 30px 20px;
}

.form-btn {
    margin: 12px auto;
    background-color: #2727d5;
}

.form input {
    margin-bottom: 12px;
}

.feature {
    margin: 60px auto;
}

img {
    width: 100px;
    height: 100px;
}

.feature p {
    margin-top: 20px;
}

.video {
    margin-bottom: 30px;
}